Repository barde/argusai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, infrastructure, dependencies, tests, source, api, llm

.github/labeler.yml:

# Add labels based on file paths
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - '*.md'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**'
      - 'wrangler.toml'
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'vitest.config.ts'

source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/handlers/**'
      - 'argusai-openapi.yaml'

llm:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/llm.ts'
      - 'src/services/github-models.ts'
      - 'src/prompts/**'

fix: Fix CI pipeline issues and TypeScript errors
  .eslintrc.json
  .github/workflows/ci.yml
  .husky/_/husky.sh
  .husky/pre-commit
  package-lock.json
  src/handlers/debug.ts
  src/handlers/status.ts
  src/handlers/test-auth.ts
  src/handlers/test-review.ts
  src/handlers/webhook.ts
  src/index.ts
  src/prompts/code-review.ts
  src/services/github-api.ts
  src/services/github-models.ts
  src/services/review-formatter.ts
  src/services/review-processor.ts
  src/services/review.ts
  src/tests/simple.test.ts
  src/tests/webhook.test.ts
  src/types/review.ts
  src/utils/logger.ts
Labels: infrastructure, dependencies, tests, source, api, llm

fix: Simplify CI and remove failing tests
  .eslintrc.json
  .husky/pre-commit
  eslint.config.mjs
  package-lock.json
  package.json
  src/tests/simple.test.ts
  src/tests/webhook.test.ts
  tests/handlers/webhook.test.ts
  tests/services/review-processor.test.ts
Labels: dependencies, tests, source

fix: Remove ESLint from CI to fix pipeline
  .eslintrc.json
  .github/workflows/ci.yml
  eslint.config.mjs
Labels: infrastructure

fix: Fix CI validation errors
  .github/workflows/ci.yml
  package-lock.json
Labels: infrastructure, dependencies

fix: Handle label permission errors in PR checks
  .github/workflows/pr-checks.yml
Labels: infrastructure

fix: Add proper permissions for PR label management
  .github/workflows/pr-checks.yml
  scripts/setup-labels.sh
Labels: infrastructure
